<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.default_schema">ESHOP_DESIGN_PATTERNS</property>

        <!--        <mapping resource="poulakise/setup/product/def/models/Product.hbm.xml"/>-->
        <!--        <mapping resource="poulakise/setup/product/def/models/Characteristic.hbm.xml"/>-->
        <!--        <mapping resource="poulakise/setup/order/def/models/Order.hbm.xml"/>-->
        <!--        <mapping resource="poulakise/setup/order/def/models/Cart.hbm.xml"/>-->
        <!--        <mapping resource="poulakise/setup/order/def/models/CartItem.hbm.xml"/>-->
        <!--        <mapping resource="poulakise/setup/user/def/models/User.hbm.xml"/>-->
        <!--        <mapping resource="poulakise/setup/user/def/models/Address.hbm.xml"/>-->
    </session-factory>
</hibernate-configuration>